.confirmationPageContainer {
    margin-left: 20%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.courseTable {
    margin-left: 5%;
    width: 90%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.alert-info {
    margin-left: 15%;
    width: 70%;
    display: flex;
    column-gap: 50px;
    align-items: center;
    text-align: justify;
}

.cancelOrConfirmContainer {
    display: flex;
    justify-content: center;
    column-gap: 200px;
}

.cancelOrConfirmContainer button {
    width: 200px;
    height: 50px;
    font-size: 25px;
}